/* Styles globaux pour la modal */
.product-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

/* Styles pour le contenu de la modal */
.modal-content {
  background-color: #fefefe;
  padding: 80px;
  border: 1px solid #888;
  width: auto; /* Permet au contenu de définir la largeur, ajustez selon le contenu */
  max-width: 500px; /* Taille réduite pour la modal */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styles pour les titres, paragraphes, et listes à l'intérieur de la modal */
h2, p, ul {
  margin: 30px 0;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    margin: 5px 0;
  }
}

/* Styles pour le bouton de fermeture de la modal */
.close-button {
  color: #c64343;
  position: relative; /* Position absolue par rapport à modal-content */
  top: 10px; /* Ajustez selon les besoins */
  right: 15px; /* Ajustez selon les besoins */
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
