<div class="container">
    <h1>Bienvenue sur notre site</h1>
    <div class="button-group">
        <button (click)="navigateToLogin()">Se connecter</button>
        <button (click)="navigateToRegister()">S'inscrire</button>
        <button (click)="navigateToProfile()">Mon profil</button>
    </div>
    <h2>Liste des Produits</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Actions</th> <!-- Ajout d'une colonne pour les actions -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }} €</td>
                <td>
                    <!-- Bouton pour ouvrir la modal de détails du produit -->
                    <button (click)="openProductModal(product)">Voir les détails</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Modal pour afficher les détails du produit -->
    <app-product-modal *ngIf="isModalVisible" [product]="selectedProduct" (close)="closeModal()"></app-product-modal>
</div>
